*.pth
logs/*
runs
runs/*
logs
lightning_logs/*
lightning_logs
__pycache__/*
*.pyc
*.pt
*.mp4
*.png
*.jpg
*.pkl
*.ckpt
*.yaml
*.csv
tags
data/
src/data/
*.h5
new_data/
.venv/
loss.pdf
/src/lines/
temp_ds
backup_model
prediction.txt